GOOGLE_SHEETS_SPREADSHEET_ID=1s2fAK0GokMk7hrWrXu6y4Av5au-cwQR0BND58ERbt9Q

# Private sheet access via service account:
GOOGLE_SHEETS_CLIENT_EMAIL=service-account@project-id.iam.gserviceaccount.com
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Public sheet access alternative:
# GOOGLE_SHEETS_API_KEY=your_api_key
